.container{
  width:100vw;
  background-color: rgba(215, 238, 238, 0.575);
  position: relative;
  z-index: 0;
  /* grid-gap:5px; */
}
.flex-container{
  display:flex;
  background-color: rgb(214, 224, 231);
}
.c1{
  height:2.5vh;
  margin-top:5vh;
  overflow-y: visible;
  position: relative;
  z-index: 5;
}
.fc1{
  /* grid-template-columns: 200px repeat(22, 200px) 210px; */
  width:100vw;
  height:2.5vh;
  /* grid-template-rows: 2.5vh; */
  overflow-x:hidden;
  overflow-y: visible;
}

.c2{
  height:92.5vh;
  margin-top:0vh;
  overflow:scroll;
}

.fc2{
  height:400px;
  /* overflow:scroll; */
}
.grid-item1 {
  box-sizing: border-box;
  background-image: linear-gradient(rgba(63, 63, 63, 0.8), rgba(139, 137, 137, 0.8) ) ;
  height:100%;
  color: aliceblue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  min-width:200px;
}
.end{
  width:210px
}
.grid-item2 {
  box-sizing: border-box;
  height: 400px;
  min-width: 200px;
  background-color: rgba(241, 241, 241, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 135, 250);
  position: relative;
}

.now{
  height: calc(92.5vh - 11px);
  width:5px;
  background-color: rgba(255, 166, 0, 0.562);
  position: absolute;
  top:0;
  z-index: 11;
}
.content{
  height:100%;
  background-color: rgb(163, 163, 241);
  position: absolute;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
/* width */
::-webkit-scrollbar {
  display: none;
}
.c2::-webkit-scrollbar {
  display: initial;
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}