.outer-container{
  max-height:100vh;
  overflow: hidden;
}

.container{
  width:100vw;
  position: relative;
  z-index: 0;
}
.flex-container{
  display:flex;
}
.c1{
  height:3vh;
  margin-top:5vh;
  overflow-y: visible;
  position: relative;
  z-index: 5;
}
.fc1{
  width:100vw;
  height:3vh;
  overflow-x:hidden;
  overflow-y: visible;
}

.c2{
  height:92vh;
  margin-top:0vh;
  overflow:scroll;
  position: relative;
  z-index: 0;
}

.fc2{
  height:200px;
}
.grid-item1 {
  box-sizing: border-box;
  background-image: linear-gradient(rgba(63, 63, 63, 0.8), rgba(139, 137, 137, 0.8) ) ;
  height:100%;
  color: aliceblue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  min-width:175px;
}
.end{
  min-width:175px
}
.grid-item2 {
  box-sizing: border-box;
  height: 200px;
  min-width: 175px;
  border: 1px solid rgba(122, 122, 122, 0.322);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 135, 250);
  position: relative;
}

.now{
  width:5px;
  background-color: rgba(114, 139, 247, 0.562);
  position: absolute;
  top:0;
  z-index: 11;
}
.content{
  box-sizing: border-box;
  height:97.5%;
  margin-top: 2.5%;
  background: linear-gradient(to bottom, #f7f7f7 0%,#e5eaec 70%,#e7f0f7 100%); 
  position: absolute;
  top:0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 10;
  border: 1px solid rgb(128, 127, 127);
  color: rgb(63, 63, 63);
  overflow: scroll;
}
.content:hover{
  box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.75);
  background: linear-gradient(to bottom, #f7f7f7 0%,#dbeff7 50%,#d1e4f3 100%); 
}
.content-title{
  font-family: 'Palanquin', sans-serif;
  color: #f05537;
  font-size: 1.6rem;;
  font-weight: 700;
  max-height: 2rem;
  overflow: scroll;
}
.content-image-container{
  width:175px;
  height:50%;
  overflow: hidden;
}
.content-image{
  width:100%;
}
.content-description{
  font-family: 'Palanquin', sans-serif;
  color: #000000;
  font-size: 1.4rem;
  font-weight: 400;
  max-height: 4rem;
  overflow: scroll;
}
/* width */
::-webkit-scrollbar {
  display: none;
}
.c2::-webkit-scrollbar {
  display: initial;
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}