.about-container {
  margin-top: 100px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.about-container h2 {
  color: orange;
  margin: 24px auto;
}
.team__container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.dev__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dev__container h5 {
  padding: 6px;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
